:root {
    --primary-color: #63CB91;
    --bg-color: #50B3AE;
    --ff-color: #fff;
}

header {
    background-color: var(--bg-color);
    color: var(--ff-color);
    padding: 0.1em;
}

header nav ul {
    display: flex;
    align-items: baseline;
    list-style-type: none;
    
}

header nav ul > li {
    margin: 0.1em 0.5em;
}

header nav ul li:first-child {
    margin-right: auto;
}

header nav ul a {
    text-decoration: none;
    color: var(--ff-color);
}

header button {
    padding: 0.5em;
    background-color: var(--primary-color);
    color: var(--ff-color);
    border: none;
}

header > div {
    display: flex;
    margin: 5em;
}