:root {
    --bg-color: #000;
    --ff-color: #1e847f;
    --secondary-color: #ecc19c;
}

body{
    background-color: var(--bg-color);
    color: var(--ff-color);
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    position: relative;
    width: max-content;
}

h1::before,
h1::after {
    content: '';
    position: absolute;
    inset: 0;
}

h1::before {
    background-color: var(--bg-color);
    animation: typing 6s steps(22) forwards infinite;
}

h1::after{
    background-color: var(--secondary-color);
    width: 0.1em;
    animation: typing 6s steps(22) forwards infinite;
}

@keyframes typing {
    50% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}

nav > ul {
    border: 1px solid blueviolet;
    display: flex;
    overflow: hidden;
    padding: 0.1em;
    text-align: center;
    justify-content: center;
    list-style-type: none;
}

@media (max-width: 579px) {
    nav > ul {
        flex-direction: column;
    }
}

nav  li {
    margin: 1em;
}

nav  a {
    text-decoration: none;
    color: var(--ff-color);
}

nav a:hover {
    color: var(--secondary-color);
}

div {
    color: var(--ff-color);
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

div > p {
    flex-basis: calc((579px - 100%) * 999);
    flex-grow: 1;
    padding: 1em;
    /* border: 1px solid blueviolet; */
}

/* .rectangle::before {
    content: '';
    background-color: var(--bg-color);
    position: absolute;
    inset: 0;
    animation: toleft 4s linear infinite;
}

@keyframes toleft {
    to { left: 100%;}
} */